# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Generated data files (can be recreated by running scripts)
parsed_logs.csv
anomalies.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
EOF